/* Footer.css */
.footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    font-family: 'Your Desired Font', sans-serif; /* Replace with your desired font */
    font-size: 18px;
    color: #333;
    margin-top:25px;
  }
  
  .footer-content {
    margin-top:10px;
    margin-bottom: 10px;
  }
  
  .footer-name {
    font-weight: bold;
  }
  